adns-python==1.2.1
anyjson==0.3.3
argcomplete==1.8.1
argh==0.26.2
asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
backdoor-factory==0.0.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
BBQSQL==1.0
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
blinker==1.3
capstone==3.0.4
certifi==2018.4.16
chardet==3.0.4
Cheetah==2.4.4
CherryPy==3.5.0
## FIXME: could not find svn URL in dependency_links for this package:
chirp===daily-20170714
click==6.7
colorama==0.3.7
configobj==5.0.6
configparser==3.5.0
constantly==15.1.0
couchdbkit==0.6.5
creepy==1.2
cryptography==1.9
cycler==0.10.0
decorator==4.1.1
dicttoxml==1.7.4
dissy==9
distorm3==3.3.4
dnslib==0.9.7
dnspython==1.15.0
docutils==0.13.1
dominate==2.3.1
easygui==0.96
EasyProcess==0.2.3
ecdsa==0.13
Electrum==2.9.3
Electrum-LTC==2.9.3.1
enum34==1.1.6
file-magic==0.3.0
Flask==1.0.2
Flask-Login==0.4.1
flickrapi==2.1.2
functools32==3.2.3.post2
fuse-python==0.2.1
future==0.15.2
futures==3.1.1
fuzzywuzzy==0.15.0
GeoIP==1.3.2
gevent==1.1.2
google-api-python-client==1.5.5
greenlet==0.4.11
gunicorn==19.9.0
Hackersh==0.2.0
halberd==0.2.4
html5lib==0.999999999
http-parser==0.8.3
httplib2==0.9.2
httpretty==0.8.14
hyperlink==17.3.1
idna==2.7
impacket==0.9.15
incremental==16.10.1
ipaddr==2.1.11
ipaddress==1.0.17
IPy==0.83
ipython==5.1.0
ipython-genutils==0.2.0
itsdangerous==0.24
jdcal==1.0
Jinja2==2.10
jsonpickle==0.9.5
jsonrpclib==0.1.3
keepnote==0.7.8
keyring==10.4.0
keyrings.alt==2.2
killerbee==1.0
libvirt-python==3.5.0
lxkeymap==0.1
lxml==3.8.0
M2Crypto==0.24.0
Mako==1.0.7
MarkupSafe==1.0
mate-menu==17.10.7
matplotlib==2.0.0
mechanize==0.2.5
mercurial==4.0
metaconfig==0.1.4a1
mockito==0.5.2
msgpack-python==0.4.8
mysqlclient==1.3.10
nassl==0.12
netaddr==0.7.18
NetfilterQueue==0.6
networkx==1.11
NfSpy==1.0
nose==1.3.7
numpy==1.12.1
oauth2client==3.0.0
oauthlib==2.0.1
olefile==0.44
openpyxl==2.3.0
PAM==0.4.2
paramiko==2.0.0
Parsley==1.2
pathlib2==2.3.0
pathtools==0.1.2
pbkdf2==1.3
pbr==4.0.4
pcapy==0.10.8
pefile==2017.8.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
prettytable==0.7.2
prompt-toolkit==1.0.14
protobuf==3.0.0
psutil==5.0.1
psycopg2==2.7.3
py==1.4.34
pyaes==1.6.0
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycrypto==2.6.1
pycurl==7.43.0
pydns==2.3.6
pyenchant==1.6.7
Pygments==2.2.0
pygobject==3.24.1
pygraphviz==1.4rc1
pygtkspellcheck==4.0.5
pyinotify==0.9.6
PyJWT==1.4.2
pylibemu==0.3.3
pyliblzma==0.5.3
pymongo==3.5.1
pymssql==2.1.3
PyOpenGL==3.1.0
pyOpenSSL==16.2.0
pyparsing==2.1.10
PyPDF2==1.26.0
PyRIC==0.1.5
pyrit==0.5.1
pyrtlsdr==0.2.4
pyscard==1.9.6
pyserial==3.4
PySide==1.2.2
pysnmp==4.3.2
pysnmp-apps==0.3.2
pysnmp-mibs==0.1.3
PySocks==1.6.5
pysqlite==2.7.0
pytest==3.2.1
python-dateutil==2.6.1
python-instagram==1.3.2
python-Levenshtein==0.12.0
python-xlib==0.14
Pythonect==0.6.0
pytz==2017.2
pyusb==1.0.0b2
PyVirtualDisplay==0.2.1
PyX==0.12.1
pyxdg==0.25
PyYAML==3.12
pyzmq==16.0.2
qrcode==5.3
qt4reactor==1.0
repoze.lru==0.6
requests==2.19.1
requests-oauthlib==0.7.0
requests-toolbelt==0.8.0
restkit==4.2.2
rfcat==1.0
rfidiot==1.0
roman==2.0.0
Routes==2.4.1
rsa==3.4.2
scandir==1.5
scapy===unknown.version
scipy==0.18.1
SecretStorage==2.3.1
selenium==2.53.2
service-identity==16.0.0
setproctitle==1.1.10
shodan==1.0.2
simplegeneric==0.8.1
simplejson==3.11.1
singledispatch==3.4.0.3
six==1.11.0
slowaes==0.1a1
socketpool==0.5.3
specan==0.0.0
SQLAlchemy==1.1.11
stem==1.5.3
stevedore==1.28.0
subprocess32==3.2.7
tcpwatch==1.3.1
torbrowser-launcher==0.2.7
tornado==4.5.1
traitlets==4.3.2
tweepy==3.5.0
Twisted==17.5.0
txsocksx==0.0.0
ua-parser==0.3.6
unicodecsv==0.14.1
uritemplate==0.6
urllib3==1.23
user-agents==0.3.2
uTidylib==0.3
vinetto==0.7b0
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
volatility==2.6
wafw00f==0.9.3
wapiti==2.3.0
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5
WebOb==1.6.2
webunit==1.3.10
Werkzeug==0.14.1
wfuzz==0.0.0
Whoosh==2.7.4
wifiphisher==1.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
XlsxWriter==0.9.6
xmlbuilder==1.0
Yapsy==1.11.223
yara-python==3.6.1
zenmap==7.60
zim==0.67
zope.interface==4.3.2
