<html>
<head>
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	<h2>Write A Comment</h2>
      <div id="respond">
        <form  method="post">  
        <p>
        	<label>Enter Title</label><br>
        	<input type="text" name="title"><br>
        </p>     
          
            <p>
            <textarea name="content" cols="35" rows="10"></textarea>         
          </p>
          <p>
            <input type="submit" id="submit" value="Post Comments" />
            </p>
        </form>
        

</body>
